SNOWFLAKE_USER = your_snowflake_username
SNOWFLAKE_ACCOUNT = your_account_identifier
SNOWFLAKE_WAREHOUSE = your_warehouse_name
SNOWFLAKE_DATABASE =your_database_name
SNOWFLAKE_SCHEMA =  your_schema_name
ANTHROPIC_API_KEY = your_anthropic_api_key

#You will have to create a .env file in order to use the api gateway on your personal computer
